<div class="container">
  <div class="row">
    <div class="col-md-5.5 mx-auto ">
      <h3>本当に退会しますか？</h3>
      <p>
        退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。<br>
      </p>
      <tr>
        <%= link_to "退会しない", public_customers_my_page_path(current_customer), class:"btn btn-sm btn-success" %>
        <%= link_to "退会する", public_customers_withdraw_path(current_customer), method: :patch, data: { confirm: '本当に退会しますか？' } , class:"btn btn-sm btn-danger" %>
      </tr>
    </div>
  </div>
</div>
