<div class="container">
  <div class="row">
    <div class="col-md-5.5 mx-auto">
      <h1><span><strong>About</strong></span></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <p class="text-center">
        <strong>
          ながのCAKEは全国発送可能なケーキ屋さんです。<br>
          お子様からお年寄りの方までお召し上がりいただけるよう、<br>
          様々なバリエーションをご用意しております。<br>
          また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
          ぜひご注文ください。
        </strong>
      </p>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-md-5 mx-auto">
      <%= image_tag 'about', size: "400x400" %>
    </div>
  </div>
</div>