<div class="container px-5 px-sm-0">
  <div class="row">
      <h2>ジャンル編集</h2>
      <%= form_with model: @genre, url:admin_genre_path do |f| %>
        <div class="form-group">
          <%= f.label "ジャンル名" %>
          <%= f.text_field :name, class: "col-xs-12" %>
          <input type="submit" name="commit" value="変更を保存" class="btn btn-success" data-disable-with="変更を保存">
        </div>
      <% end %>
  </div>
</div>